.btn-ghost2 {
  color: #F52829;
  border: 1px solid #F52829;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  background-color: #FDFEFE;
   &:hover {
    text-decoration:none;
    color:#F52829;
  }
}

.btn-ghost-filled2 {
  color: white;
  border: 1px solid #F52829;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.8;
  background:#F52829;
  transition: opacity 0.3s ease;
   &:hover {
    text-decoration: none;
    color: white;
  }
}

.clicked {
color: grey;
background: lightgrey;
border: 1px dotted grey;
}

.credit-btn {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: bold;
  opacity: 0.8;
  background-color: lightgrey;
  align-item: center;
  width:150px;
  height:50px;
}


.btn-redeem-credit {
  color: white;
  border: 1px solid #F52829;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.8;
  background:#F52829;
  width: 100px;
}

