<div class="footer-navbar">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-4 ">
      <div class="footer-links">
        <a href="/"><i class="fas fa-home"></i></a>

        <a href="#"><i class="fas fa-coins"></i></a>

        <a href="#"><i class="far fa-comments"></i></a>


        <a onclick= "togglePopUp()" ><i class="far fa-user"></i> 
          <div class="user-pop-up" id="user-pop-up">
          
          
          </div>
        </a>

              
      </div>
    </div>
  </div>
</div>

<script>

function togglePopUp () {
  document.getElementById("user-pop-up").classList.toggle("active")
}

</script>

