<div class="footer-navbar">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-4 ">
      <div class="footer-links">
        <a href="/"><i class="fas fa-home"></i></a>

        <a href="#"><i class="fas fa-coins"></i></a>

        <a href="#"><i class="far fa-comments"></i></a>


        <a onclick= "togglePopUp()" ><i class="far fa-user"></i> 
          <div class="user-pop-up" id="user-pop-up">
            <div class="pop-up-text">
                <li><i class="fas fa-user-edit p-2 mt-3"></i> My profile</li>
                <li><i class="fas fa-book-open p-2"></i>My applications</li>
                <li><i class="far fa-check-circle p-2"></i>Pending favours</li>
                <li><i class="fas fa-check-circle p-2"></i>Confirm completed</li>
                <%# <%= link_to 'Pending favours', mark_as_done_application_path(application)%> 
                <%# <%= link_to 'Confirm completed',  done_applications_path %>
            </div>
  
          
          </div>
        </a>

              
      </div>
    </div>
  </div>
</div>

<script>
function togglePopUp () {
  document.getElementById("user-pop-up").classList.toggle("active")
}
</script>


<%# <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
</ul> %>

  <%# <li><a href="#">My profile</a></li>
                <li><a href="/applications">My applications</a></li>
                <li><a href="/mark_as_done_application">Pending favours</a> </li>
                <li><a href="/done_applications">Confirm completed</li> %>

                