<div class="footer-navbar">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-4 position-static">
      <div class="footer-links">
        <a href="/"><i class="fas fa-home"></i></a>

        <a href="#"><i class="fas fa-coins"></i></a>

        <% if user_signed_in? %>
          <%= link_to applications_path do %>
          <i class="far fa-comments"></i>
          <% end %>
        <% else %>
          <%= link to new_user_registration_path do%>
          <i class="far fa-comments"></i>
          <% end %>
        <% end %>

        <a onclick= "togglePopUp()" ><i class="far fa-user"></i>
          <div class="user-pop-up" id="user-pop-up">
        <a onclick= "togglePopUp()" ><i class="far fa-user"></i> 
          <div class="user-pop-up" id="user-pop-up">
            <div class="pop-up-text">
            <ul>
                <p class="mb-1 p-1"><i class="fas fa-user-edit p-1 mt-2"></i>  &nbsp  My profile</p>
                <p class="mb-1 p-1"><i class="fas fa-book-open p-1" ></i> &nbsp  My favours</p>
                <p class="mb-1 p-1"><i class="far fa-check-circle p-1" ></i>  &nbsp <%= link_to  'Pending favours', applications_path%> </p>
                <p class="mb-1"><i class="fas fa-check-square p-1"></i></i>   &nbsp <%= link_to 'Confirm completed',  done_applications_path %></p>
            </ul>
            </div>
          </div>
        </a>            
      </div>
    </div>
  </div>
</div>

<script>
function togglePopUp () {
  document.getElementById("user-pop-up").classList.toggle("active")
}
</script>


<span class="border border-secondary"></span>
                