<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <h6><%= image_tag "upliftlogo.png" %> UpLift </h6>
    <% end %>

    <ul style="text-align: right; margin-top: 15px;">
      <% if user_signed_in? %>
        <p>Hi <%= current_user.name.capitalize %></p>
      <% end %>
    </ul>
</div>
