<div class="container homepagecontainer">
  <div style="padding-top: 50px;">
    <div class="banner">
      <h1 style="font-size: 50px"><strong>Change Lives One Favour<br>at a Time</strong></h1>
      <p style="font-size: 30px">Exchange favours.<br> Make an impact <br>locally. </p>
      <br>
      <div style="display: flex; justify-content: space-around;">
        <button class="btn-ghost-filled">Ask a favour</button>
        <button class="btn-ghost">Ask a favour</button>
       <%#= link_to 'Ask a Favour', new_path, class: "../primarybutton/btn btn-ghost-filled" %>
      <%#= link_to 'Help Someone', new_path, class: "../primarybutton/btn btn-ghost" %>
      </div>
    </div>
  </div>
</div>
