<div class="homepagecontainer">
   <div class="row mt-5">
    <div class="col-12 col-lg-12 col-sm-4 mt-4" style="margin-top: 10px !important;  overflow: hidden !important;">
      <div style=" padding-top: 0px;">
        <div class="banner">
          <h1 style="font-size: 50px; margin-left:7px;"><strong>Change Lives One Favour<br>at a Time</strong></h1>
          <p style="font-size: 30px; margin-left:7px;">Exchange favours.<br> Make an impact <br>locally. </p>
          <br>
          <div style="display: flex; justify-content: space-around;">
            <!-- <button class="btn-ghost-filled2">Ask a favour</button>
            <button class="btn-ghost2">Offer a help</button>

 -->
          <% if user_signed_in? %>
            <%= link_to 'Ask a Favour', new_favour_path, class: "btn btn-ghost-filled2" %>
            <%= link_to 'Help Someone', favours_path, class: "btn btn-ghost2" %>
          <% else %>
            <%= link_to 'View All Favours', favours_path, class: "btn btn-ghost-filled2" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
