
.footer-confirmation {
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgb(255, 255, 255);
    z-index: 1000;
    background: white;
    margin-top: 0px;
  }
  .footer-links-confirmation {
    display: flex;
    align-items: center;
  }
  .footer-links-confirmation a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px;
  }
  .footer-links-confirmation a:hover {
    opacity: 1;
  }

  .cancel {
    color: rgb(255, 255, 255);
  }

  .done {
    color: #F52829;
  }

