
.footer-navbar {
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer-links {
    text-align: center;
    justify-content: space-evenly;
    padding-top: 8px;
  }

  .footer-links a {
    color: rgb(255, 255, 255);
    justify-items: center;
    opacity: 0.6;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 28px;
    
  }

  .footer-links a:hover {
    opacity: 1;
  }
  