
.footer-confirmation {
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .footer-links-confirmation {
    text-align: center;
    justify-content: space-evenly;
    padding-top: 8px;
  }


  .footer-links-confirmation a {
    color: rgb(255, 255, 255);
    justify-items: center;
    opacity: 0.6;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 28px;
  }


  .footer-links-confirmation a:hover {
    opacity: 1;
  }

  
  .cancel {
    color: rgb(255, 255, 255);
  }
 
  .done {
    color: #F52829;
  }
 