
.footer-navbar {
  background: rgb(255, 255, 255);
  justify-content: space-between;
  height: 55px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.footer-links {
  text-align: center;
  justify-content: space-around;
  padding-top: 8px;
  display:flex;
}

.footer-links a {
  justify-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 24px;
}

.footer-links i {
  opacity: 0.5;
  color: #F52829;
}

.user-pop-up {
  position:absolute;
  top: 100px;
  // left:-5px;
  right:5vw;
  width:90vw;
  height: 220px;
  transition: ease 300ms;
  background-color: #f3dcdc;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(90, 88, 88, 0.15);
  // border: 1px solid #f06b6b;;
  &.active{
    top: -280px;
  }
}

.pop-up-text {
  position: relative;
  color: rgb(87, 87, 87);
  // font-weight: bold;
  padding: 5px;
  text-align: left;
  top: 23px;
  left:10px;

}

ul {
  list-style-type: none;
}

.user-pop-up i{
  opacity: 0.5;
  color: #000000;
}

.pop-up-text a {
  text-decoration: rgb(0, 0, 0);
  color: rgb(0, 0, 0)!important;
  font-size: 20px;
}

// #user-pop-up {
//   border-style: solid !important;
//   border:1px black !important;
// }