<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-12" style="position: relative; left: 5px;">
     <h2 class="text-center mt-3 mb-3">Paid jobs</h2>
     <div>
       <%#= image_tag "paidjobs.jpg", style: "width: 90vw; height: 22vh; border-radius: 20px; mask-image: linear-gradient(257.36deg, rgba(16, 204, 227, 0.35) 22.49%, rgba(0, 0, 0, 0.3) 52.99%);
}"%>
     </div>
     <div  class="paid-job-banner" style="background-image: linear-gradient(257.36deg, rgba(16, 204, 227, 0.35) 22.49%, rgba(0, 0, 0, 0.3) 52.99%), url('<%=image_path("paidjobs.jpg") %>'); height: 22vh; border-radius: 20px; width:90vw;">
     </div>
     <br>

     <div class="card-paid-job">
      <%= image_tag "settings.svg"%>
      <div>
        <h7 style="font-weight:bold;">Full-time mechanic</h7>
        <p style="font-size:16px; ">Exciting permanent role. See more details here.</p>
      </div>
    </div>
    <br>
    <div class="card-paid-job">
      <%= image_tag "new-construction.svg"%>
      <div>
        <h7 style="font-weight:bold;">Full-time secretary</h7>
        <p style="font-size:16px; ">Exciting permanent role. See more details here.</p>
      </div>
    </div>
    <br>
    <div class="card-paid-job">
      <%= image_tag "new-construction.svg"%>
      <div>
        <h7 style="font-weight:bold;">Full-time accountant</h7>
        <p style="font-size:16px; ">Exciting permanent role. See more details here.</p>
      </div>
    </div>
    <br>
  </div>
</div>
</div>
