<br>
<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
       <h2 class="text-center mb-3">PAID JOBS</h2>
       <%= image_tag "paidjobs.jpg", style:"border-radius:20px; width: 300px; height: 200px;" %>
    </div>
  </div>
</div>
