<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xl-3 col-12">
      <h2 class="text-center mt-3 mb-3">Redeem credits</h2>

      <br>
      <br>
      <div class="redeem-outside-container">
        <h5 class="text-center mt-3">Unlock one job post for 5 points</h5>
        <br>
        <div class="redeem-container">
          <% 9.times do |n| %>
            <%= link_to credits_path(:amount_redeemed => (n+1)*5), method: :post do %>
            <%= image_tag "present.svg", class: "btn-ghost-filled2" %>
            <p><%=(n+1)*5%></p>
        <% end %>
        <% end %>
      </div>

      </div>
      <br>
      <div class="text-center">
        <%= link_to 'Back to credits overview', credits_path, style: "color:grey; font-weight: bold;" %>
      </div>
    </div>
  </div>
</div>


