.banner {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 200px;
  background-image: image-url('homepage.png');
  background-size: contain;
  background-position-y: top;
  position: relative;
 /* background-size:*/
}

.banner h1 {
  margin: 10;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: absolute;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  position: absolute;
}
