.card-favour {
background: #FFFFFF;
border: 1px solid #D6CECE;
height: 160px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
// width:200px;
}

.card-credits {
  background: #FFFFFF;
border: 1px solid #D6CECE;
height: 140px;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
// display: flex;
// width:200px;
}

.card-paid-job {
  background: #FFFFFF;
border: 1px solid #D6CECE;
height: 100px;
// box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: flex;
justify-content: space-between;
width:90vw;
padding: 15px;
div{
  width:60%;
}
}

.card-user-details {
  position: relative;
  left:20px;
  top: 30px;
}

.card-user-details .user-name {
  position: absolute;
  left:7px;
  top: 80px;
  font-weight: bold;
}


.favour-description {
  position: relative;
  right:-60px;
  top: 40px;
  // display: inline-block;
}


.avatar-rounded {
  border-radius: 50%;
  width: 60px;
  position:relative;
  top:20px;
}


// .gradient{
// background-image: linear-gradient(257.36deg, rgba(16, 204, 227, 0.35) 22.49%, rgba(0, 0, 0, 0.3) 52.99%); image-ur
// }

.redeem-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  // justify-content:center;
  width: 100%;
  height: 50vh;
  align-items: center;
  padding: 10px;
  // margin: 0 auto;

  p{
    text-decoration:none;
    color:black;
    text-align: center;
    // display:flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // justify-content: center;
    // position: relative;
    // left: 38px;
    // display: block;
    // padding: 5px;
    // vertical-align: middle;
  }

  a{
    width: 30%;
    img {
      width: 100%;
    }
  }
}

.redeem-outside-container {
  border: 0.5px solid black;
  border-radius: 20px;
  height: 60vh;
  width: 92vw;
  // padding: 10px;
  align-items:center;
}



.ratings-favour-card {
  position: relative;
  top:-170px;
  left:270px;
}

.paid-job-banner {
  background-size: cover;
}


