.container-fluid.messages{
  font-size: 14px;
}

.author {

}

.message {
  background-color:  #eec8c8;
  color: rgb(0, 0, 0);
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  height: 30px;
  text-align: left;
  
}

.message-text {
  padding: 3px;
  margin-left:20px;
}

.timestamp {
  color: #464343
}

.chatform {
  padding-top: 20px;
  position: fixed;
  left: 5vw;
  bottom: 70px;
  width: 90%;
}
