body {
  background-color: #e9ecef;
  color: #0E0000;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepagecontainer {
  height: calc(100vh - 60px - 50px);
}


