.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  height: 60px;
  // position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-toggler-icon {
  height: 20px;
}


