<div class="container-fluid" style="overflow-scroll">
  <div class="row">
    <div class="col-12 col-lg-12 col-sm-4 mt-4" style="margin-top: 60px !important;" >

      <h4 class="header-2 mb-3 pt-2 text-center"> LEAVE A REVIEW </h4>

      <div class="ml-1 mr-1">
        <%= simple_form_for([@application, @review]) do |f| %>

        <div class="form-inputs text-center">
          <%= f.input :content, as: :text, input_html:{rows: 3}, label: 'Tell us your favour experience', placeholder: 'Write how this person did' %><br>
        </div>

        <div class="form-inputs text-center">
            <%= f.input :rating, label: 'Please rate out of 5?' %><br>
        </div>

        <br>

        <div class="button">
          <div class="row justify-content-center">
          <p><%= f.submit "Submit", class: "btn-ghost-filled2" %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  </div>

